- page_title _("Spam Logs")
%h1.page-title= _('Spam Logs')
%hr
- if @spam_logs.present?
  .table-holder
    %table.table
      %thead
        %tr
          %th= _('Date')
          %th= _('User')
          %th= _('Source IP')
          %th= _('API?')
          %th= _('Recaptcha verified?')
          %th= _('Type')
          %th= _('Title')
          %th= _('Description')
          %th= _('Primary Action')
          %th
      = render @spam_logs
  = paginate @spam_logs, theme: 'gitlab'
- else
  %h4= _('There are no Spam Logs')
